/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f1e8; /* Fondo beige claro */
    color: #5a3e2b; /* Marrón oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    border: 2px solid #c7a17a; /* Borde marrón claro */
    padding: 40px;
    width: 400px;
    background-color: #f3e4d6; /* Fondo más claro */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #8c5a38; /* Marrón oscuro */
}

label {
    display: block;
    text-align: left;
    color: #8c5a38; /* Marrón oscuro */
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #c7a17a;
    background-color: #ffffff;
    color: #5a3e2b;
    font-size: 1em;
}

input:focus, select:focus {
    outline: 2px solid #8c5a38;
}

button {
    background-color: #a97c50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #8c5a38;
}

p a {
    text-decoration: none;
    color: #6d4229;
    font-size: 14px;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
