* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f1e8; /* Fondo beige claro */
  color: #5a3e2b; /* Marrón oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  border: 2px solid #c7a17a; /* Borde marrón claro */
  padding: 40px;
  width: 400px;
  background-color: #f3e4d6; /* Fondo más claro */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #8c5a38; /* Marrón oscuro */
}

.logo-box {
  background-color: #e8d3b5;
  color: #5a3e2b;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  color: #8c5a38; /* Marrón oscuro */
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c7a17a;
  background-color: #ffffff;
  color: #5a3e2b;
  font-size: 1em;
}

input:focus {
  outline: 2px solid #8c5a38;
}

.login-button {
  background-color: #a97c50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.1em;
  font-weight: bold;
}

.login-button:hover {
  background-color: #8c5a38;
}

.logo img {
  width: 150px;
  height: auto;
  max-width: 100%;
}

.volver-container {
  top: 220px;
  right: 780px;
}

.volver-container img {
  position: fixed;
  margin-left: 160px;
  margin-top: -20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.links-container {
  margin-top: 20px;
  font-size: 1em;
  color: #8c5a38;
}